body {
    width: 100%;
    text-align: center;
}
h1 {
    width: 100%;
    display: none;
}
main {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    font-family: "Fira Mono", monospace;
    font-size: 10vw;
}